<script>
	import { onMount } from 'svelte';
	import { languages, orders, sources } from '$lib/api';
	import { formatTimestamp } from '$lib/util';
	import { terms } from '$lib/store';
	let iobserve;
	const limit = 50;
	let timespan = 7;
	let results = [];
	let last = false;
	let lang = languages;
	let order = orders[0];
	let source = sources;
	let query = '';

	onMount(async () => {
		await import('@shibiii/svelte-iobserve').then((module) => (iobserve = module.iobserve));
	});

	$: timespan, lang, order, source, search();

	const search = async () => {
		if ($terms == '') return;
		results = [];
		const path = 'http://192.168.10.60:3001/';
		const ueterms = encodeURIComponent($terms);
		const langstr = lang.map((l) => l.api).join(',');
		const sourcestr = source.join(',');
		query = `${path}search?terms=${ueterms}&order=${order.api}&lang=${langstr}&limit=${limit}&timespan=${timespan}&sources=${sourcestr}`;
		last = false;
		await fetch(query)
			.then((res) => res.json())
			.then((res) => {
				results = res.data;
				if (res.data.length < limit) last = true;
			})
			.catch((err) => console.log(err));
	};
	const more = async () => {
		let pagination;
		if (order.api == 'id') {
			const offsetId = results[results.length - 1].id;
			pagination = `&offsetId=${offsetId}`;
		} else if (order.api == 'rank') {
			const ids = results.map((r) => r.id).join(',');
			pagination = `&ids=${ids}`;
		}
		await fetch(query + pagination)
			.then((res) => res.json())
			.then((res) => {
				results = [...results, ...res.data];
				if (res.data.length < limit) last = true;
			})
			.catch((err) => console.log(err));
	};

	const longestHeading = (vacancy) => {
		const simple = vacancy.headline_simple.length;
		const finnish = vacancy.headline_finnish.length;
		const english = vacancy.headline_english.length;
		if (simple > finnish && simple > english) return vacancy.headline_simple;
		if (finnish > simple && finnish > english) return vacancy.headline_finnish;
		return vacancy.headline_english;
	}

</script>

<form on:submit|preventDefault={search}>
	<fieldset id="text">
		<legend>search</legend>
		<input type="text" bind:value={$terms} />
		<input type="submit" value="search" />
	</fieldset>
	<div id="formset">
		<fieldset>
			<legend>language</legend>
			{#each languages as l}
				<label>{l.label}<input type="checkbox" bind:group={lang} name="lang" value={l} /></label>
			{/each}
		</fieldset>
		<fieldset>
			<legend>sort</legend>
			{#each orders as o}
				<label>{o.label}<input type="radio" bind:group={order} name="order" value={o} /></label>
			{/each}
		</fieldset>
		<fieldset>
			<legend>timespan</legend>
			<label>days<input type="number" bind:value={timespan} min="1" max="30" /></label>
		</fieldset>
		<fieldset>
			<legend>sources</legend>
			{#each sources as s}
				<label>{s}<input type="checkbox" bind:group={source} name="sources" value={s} /></label>
			{/each}
		</fieldset>
	</div>
</form>

<ul>
	{#each results as vacancy}
		<li>
			<p>
				<a href={vacancy.url}>{vacancy.header}</a>
				<span class="nowrap"> @ {vacancy.source} &bullet; <time>{formatTimestamp(vacancy.ts)}</time></span>
			</p>
			<p>{@html longestHeading(vacancy)}</p>
		</li>
	{/each}
	{#if iobserve && !last && results.length > 0}
		<li>
			<p id="iobs" on:intersection={more} use:iobserve={{ once: true, update: results }}>...</p>
		</li>
	{/if}
</ul>

<style>
	form {
		display: flex;
		flex-direction: column;
	}
	#formset {
		display: flex;
		flex-wrap: wrap;
	}
	#formset > * {
		flex-grow: 1;
	}
	fieldset {
		border-color: #00000010;
	}
	#text {
		display: flex;
	}
	input[type='text'] {
		flex-grow: 1;
	}
	input[type='checkbox'] {
		margin-right: 1em;
	}
	label {
		white-space: nowrap;
	}
	time {
		font-size: 0.8rem;
	}
	.nowrap {
		white-space: nowrap;
		overflow: auto;
	}
</style>
